html {
    height: 100%;
    background-color: black !important;
}
body{
    color: #6bb6da !important;
}
.is-blue{
    color: #6bb6da !important;
}
.is-pink{
    background-color: '#e4087e' !important;
}

.d-mg-cover{
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
}

.d-mg-description{
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.d-mg-bott{
    margin-bottom: 4em;
}

.d-mg{
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}
.d-mg-1{
    margin-top: 2em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 2em;
}
.d-mg-1-5{
    margin-top: 2em;
    margin-left: 3.8em;
    margin-right: 3.8em;
    margin-bottom: 2em;
}
.d-mg-2{
    margin-top: 2em;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 2em;
}
.text-justify{
    text-align: justify;
}